<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body>

	{% if mcnt1==2 %}
	<script>
							setTimeout(function () {
							   //Redirect with JavaScript
							  window.parent.location.href="/process";
							}, 3000);
							</script>
	{% endif %}

	<h3 style="color:#990000"></h3>
							<script>
							setTimeout(function () {
							   //Redirect with JavaScript
							  window.location.href="/face";
							}, 5000);
							</script>
					
						
</body>
</html>
